:root {
  --white: #ffffff;
  --black: #000000;
  --base-primary: #7859cf;
  --base-secondary: #f0ebff;
  --bg-basic: #f3ebe1;
  --bg-lightest-grey: #f8f8f8;

  --base-white: #ffffff;
  --base-grey: #bdbdbd;
  --base-black: #333333;
  --primary-opacity: rgba(120, 89, 207, 0.25);
  --primary-lighter: #9070ec;
  --primary-darker: #593cac;
  --light-grey: #e2e2e2;
  --bg-light: #f8f8f8;
  --bg-flat-white: #f3ebe1;
  --bg-lavender-latte: #eae6fc;
  --bg-esspresso: #e5e6e8;


  --gray-darken: #111111;
  --gray-dark: #222222;
  --gray-semi: #c4c4c4;
  --gray-light: #f2f2f2;
  --text-description: #444444;

  --bg-secondary: #eaeaea;
  --bg-basic-opacity: rgba(104, 183, 56, 0.85);
  --social-icon: #666666;
  --footer-logo-focus: #3e3e3e;
  --nav-border: #e6e6e6;
  --catalog-border: #ebebeb;
  --program-border: #d9d9d9;
  --example-border: #cdcdcd;
}

// резервный цвет принят "tomato": #ff6347