.basic-products {
  padding: 50px 0 44px;
  background-color: var(--bg-lightest-grey, #ff6347);

  @media (min-width: $tablet-width) {
    padding: 80px 0 90px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 0 120px;
  }
}

.basic-products__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 318px 1fr;
    align-items: start;
    column-gap: 30px;
  }
}

.basic-products__header {
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    grid-column: 1/-1;
  }
}

.basic-products__promo {
  @include bold-font (12px, 1.33); // $font-size, $line-height
  display: block;
  margin: 0 0 4px;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--base-primary, #ff6347);
  // text-align: center;

  @media (min-width: $tablet-width) {
    @include bold-font(12px, 1.33); // $font-size, $line-height
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--base-primary, #ff6347);
    text-align: center;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    @include bold-font (12px, 1.33); // $font-size, $line-height
    font-weight: 700;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    color: var(--base-primary, #ff6347);
    padding: 0;
    // padding-top: 100px;
  }
}

.basic-products__list--wrapper {
  background-color: var(--bg-lightest-grey, #ff6347);

  @media (min-width: $desktop-width) {
    grid-column: 2 /-1;
  }
}

.basic-products__title {
  // display: block;
  @include bold-font (24px, 36px); // $font-size, $line-height
  color: var(--base-primary, #ff6347);
  margin: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include bold-font (42px, 1.52); // $font-size, $line-height
    // letter-spacing: 0.04em;
    // text-align: center;
  }

  @media (min-width: $desktop-width) {
    color: var(--black, #ff6347);
    grid-column: 1/-1;
    margin-bottom: 40px;
  }
}

.basic-products__form {
  margin-bottom: 40px;

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
  }
}

.basic-products__find--block {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 26px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/-1;
    margin-bottom: 23px;
  }
}

.basic-products__find--title {
  @include semi-bold-font (16px, 1.5); // $font-size, $line-height
  font-weight: 600;
  color: var(--black, #ff6347);
  text-align: center;
  margin: 0 8px 0 0;

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.basic-products__find--select {
  @include primary-font (16px, 1.43); // $font-size, $line-height
  font-weight: 700;
  text-align: center;
  color: var(--black, #ff6347);
  // background-color: var(--white, #ff6347);
  // padding-top: 40px;
  // padding-bottom: 40px;

  @media (min-width: $desktop-width) {
    @include primary-font (16px, 1.5); // $font-size, $line-height
    border: none;
    font-weight: 600;
    width: 165px;
    text-align: left;
    color: var(--base-primary, #ff6347);
  }
}
