// .cards {
//   margin: 0;
//   padding: 0;

//   @media (min-width: $tablet-width) {
//     display: grid;
//     grid-template-columns: repeat(2, 324px);
//     gap: 62px 60px;
//   }

//   @media (min-width: $desktop-width) {
//     width: 1011px;
//     grid-template-columns: repeat(3, 317px);
//     gap: 30px;
//   }
// }

.cards {
  display: grid;
  gap: 20px;
  margin: 0 0 40px;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/-1;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 60px;
  }
}

.cards__item {
  padding: 40px 20px 20px;
  background-color: var(--white, #ff6347);
  list-style: none;
  border-radius: 4px;
  text-align: left;

  @media (min-width: $desktop-width) {
    padding: 50px 30px 32px 28px;
    // display: flex;
    // flex-direction: column;
    // gap: 12px;
  }
}

.cards__item--current {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
}

.cards__link {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    height: 210px;
  }
}

// .cards__text {
//   @media (min-width: $tablet-width) {
//     margin-bottom: auto;
//   }
// }

.cards__link-text {
  text-decoration: none;
}

.cards__title {
  // @include bold-font(12px, 1.33); // $font-size, $line-height
  // margin: 0;
  // padding: 0;
  // color: var(--gray-dark, #ff6347);
  // text-transform: uppercase;
  // padding-right: 60px;
  // padding-bottom: 21px;

  // @media (min-width: $tablet-width) {
  // @include secondary-font (20px, 24px); // $font-size, $line-height
  // text-align: center;
  // width: 135px;
  // margin: 0 auto;
  // padding: 12px 0 19px;
  // }

  @media (min-width: $desktop-width) {
    @include bold-font(24px, 1.5); // $font-size, $line-height
    text-align: left;
    color: var(--black, #ff6347);
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 10px;
  }
}

.cards__description {
  // @include primary-font (36px, 1); // $font-size, $line-height
  // color: var(--black, #ff6347);
  // margin: 0;
  // display: flex;
  // flex-direction: column;
  // row-gap: 0;

  // @media (min-width: $tablet-width) {
  //   @include primary-font (36px, 1); // $font-size, $line-height
  //   display: block;
  //   margin-bottom: 22px;
  // }

  @media (min-width: $desktop-width) {
    @include primary-font (14px, 1.43); // $font-size, $line-height
    text-align: left;
    margin-bottom: 20px;
  }
}