.contacts {
  background-color: var(--bg-basic, #ff6347);
  display: block;
}

.contacts__map-image {
  width: 100%;
  object-fit: contain;
  display: block;

  @media (min-width: $tablet-width) {
    object-fit: cover;
  }
}
