.features {
  padding: 50px 0 44px;

  @media (min-width: $tablet-width) {
    padding: 60px 0 100px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 0 120px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 0 120px;
  }
}

.features__promo {
  display: block;
  @include bold-font (12px, 1.33); // $font-size, $line-height
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--base-primary, #ff6347);
  text-align: center;
}

.features__title {
  @include bold-font (24px, 36px); // $font-size, $line-height
  text-align: center;
  margin: 0;
  color: var(--black, #ff6347);
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    @include bold-font (42px, 64px); // $font-size, $line-height
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
  }
}

.features__list {
  display: grid;
  gap: 32px;
  margin: 0;
  padding: 16px 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    padding: 0 10px;
    grid-template-columns: 1fr 1fr;
    gap: 50px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 50px 30px;
    // margin-bottom: 24px;
  }
}

.features__item {
  text-align: center;

  &::after {
    content: "";
    display: block;
    width: 52px;
    height: 56px;
    margin: 0;
    margin-left: 40px;
    // margin: 0 auto;
    // background-color: var(--white, #ff6347);
    background-image: var(--icon);
    background-repeat: no-repeat;
    background-position: center center;
    // background-size: var(--size);
  }

  @media (min-width: $tablet-width) {
    display: grid;
    // gap: 0 29px;
    grid-template-columns: 318px;
    grid-template-rows: 56px min-content auto;
    position: relative;
    padding-left: 72px;
    text-align: left;

    &::after {
      // display: flex;
      // width: 52px;
      // height: 56px;
      // margin: 0;
      grid-row: 1 / 2;
      text-align: center;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    text-align: center;

    &::after {
      display: block;
      text-align: center;
      margin-left: 130px;

      // margin-bottom: 20px;
    }
  }
}

.features__speed {
  --icon: url("../../icons/icon-speed.svg");
  // --size: 50px 56px;
}

.features__fit {
  --icon: url("../../icons/icon-fit.svg");
  // --size: 52px 56px;
}

.features__energy {
  --icon: url("../../icons/icon-energy.svg");
  // --size: 42px 56px;
}

.features__eco {
  --icon: url("../../icons/icon-eco.svg");
  // --size: 46px 56px;
}

.features__name {
  margin: 0;
  // width: 200px;
  // padding-top: 2px;
  // order: 2;
  margin-bottom: 4px;

  @include bold-font (18px, 32px); // $font-size, $line-height
  color: var(--black, #ff6347);
  // z-index: 1;

  @media (min-width: $tablet-width) {
    @include bold-font (24px, 36px); // $font-size, $line-height
    color: var(--black, #ff6347);
    // z-index: 1;
    // padding-top: 20px;
    // width: 100%;
    grid-row: 2 / 3;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

.features__description {
  margin: 0;
  color: var(--black, #ff6347);
  // width: 200px;
  // padding-top: 2px;
  // order: 2;

  @include primary-font (14px, 18px); // $font-size, $line-height

  // z-index: 1;

  @media (min-width: $tablet-width) {
    @include primary-font (16px, 24px); // $font-size, $line-height
    // color: var(--text-description, #ff6347);
    // z-index: 1;
    // padding-top: 10px;
    // width: 100%;
    grid-row: 3 / -1;
  }
}
