.header__wrapper {
  position: relative;
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  padding-right: 0;

  @media (min-width: $tablet-width) {
    grid-template-columns: min-content 1fr 120px;
    gap: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: min-content 1fr 25%;
    gap: 20px;
  }
}

.header__logo {
  display: flex;
  align-items: center;
  align-self: start;
  margin-top: 12px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-top: 22px;
  }
}

.header__link {
  @include medium-bold-font-family (12px, 1.33); // $font-size, $line-height;
  display: block;
  padding: 22px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: var(--black, #ff6347);
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--base-primary, #ff6347);
  }

  &:focus {
    outline: none;
  }

  &:active {
    background-color: var(--base-secondary, #ff6347);
  }

  @media (min-width: $tablet-width) {
    padding: 32px 22px;
  }

  @media (min-width: $desktop-width) {
    padding: 32px 20px;
  }
}
