.hero {
  @media (min-width: $desktop-width) {
    background-color: var(--bg-basic, #ff6347);
  }
}

.hero__card {
  height: auto;
  padding: 20px 20px 60px;
  display: grid;
  gap: 10px;

  &--flat-white {
    background-color: var(--bg-flat-white, #ff6347);
  }

  &--lavender-latte {
    background-color: var(--bg-lavender-latte, #ff6347);
  }

  &--espresso {
    background-color: var(--bg-esspresso, #ff6347);
  }

  @media (min-width: $tablet-width) {
    padding: 60px 80px;
    gap: 20px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 600px 1fr;
    align-items: center;
    gap: 30px;
    padding: 30px calc(50% - 615px) 84px;
  }
}

.hero__picture {
  @media (min-width: $tablet-width) {
    order: 2;
    height: 228px;
  }

  @media (min-width: $desktop-width) {
    order: 0;
    height: auto;
  }
}

.hero__picture img {
  display: block;
  width: 280px;
  height: 280px;
  margin: 0 auto;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    width: 476px;
    height: 476px;
  }

  @media (min-width: $desktop-width) {
    width: 600px;
    height: 600px;
  }
}

.hero__content {
  text-align: center;

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.hero__title {
  @include bold-font (36px, 48px); // $font-size, $line-height
  color: var(--black, #ff6347);
  margin: 0 0 10px;
  letter-spacing: 0.72px;

  @media (min-width: $tablet-width) {
    @include bold-font (56px, 1.43); // $font-size, $line-height
    color: var(--black, #ff6347);
    margin-bottom: 16px;
    letter-spacing: 1.12px;
  }
}

.hero__promo {
  @include bold-font (12px, 1.33); // $font-size, $line-height
  letter-spacing: 0.04em;
  display: block;
  text-align: center;
  margin: 0 0 4px;
  text-transform: uppercase;
  color: var(--base-primary, #ff6347);

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.hero__description {
  @include primary-font (14px, 1.43); // $font-size, $line-height;
  display: block;
  font-weight: 400;
  color: var(--black, #ff6347);
  margin: 0 0 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
  }
}

.hero__price {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  // column-gap: 4px;

  @media (min-width: $tablet-width) {
    align-items: center;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    column-gap: 0;
    margin-bottom: 8px;
    justify-content: start;
  }
}

.hero__old-price {
  @include primary-font (16px, 2); // $font-size, $line-height;
  display: block;
  font-weight: 400;
  text-decoration: line-through;
  color: var(--base-primary, #ff6347);
  // margin-right: 6px;
  margin-left: 26px;
  margin-top: 2px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.hero__new-price {
  @include semi-bold-font (20px, 1.6); // $font-size, $line-height;
  display: block;
  font-weight: 600;
  color: var(--black, #ff6347);
  margin-left: 9px;
  margin-right: 24px;

  @media (min-width: $tablet-width) {
    margin-left: 9px;
    margin-right: 23px;
  }
}
