.main-header {
  // position: relative;
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  min-height: 60px;
  align-items: center;
  // justify-content: space-between;

  // @media (min-width: $tablet-width) {
  min-height: 80px;
  //   flex-flow: row wrap;
  //   padding: 27px 3px 24px 0;
  //   justify-content: space-between;
  //   display: grid;
  //   grid-template-columns: 174px 1fr;
  //   gap: 16px;
  //   align-items: center;
  // }

  @media (min-width: $desktop-width) {
    gap: 162px;
    // justify-content: space-between;
    // grid-template-columns: min-content 595px;
  }
}

.main-header__logo {
  // display: flex;
  // align-items: center;
  // justify-content: flex-start;
  //   margin: 0 auto;
  //   width: 32px;
  //   padding: 15px 0 12px;

  //   @media (min-width: $tablet-width) {
  //     width: 82px;
  //     margin: 0;
  //     padding: 0;
  //     height: 36px;
  //     gap: 13px;

  //   }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 20px;
    height: 36px;
    width: 316px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-header__logo-image {
  display: block;
}

.main-header__logo-text {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    object-fit: none;
  }
}
