.radio__label {
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border-radius: 50%;
    border: 2px solid var(--base-grey, #ff6347);
    transition: border 0.2s ease-in;
  }

  &::after {
    content: "";
    display: none;
    position: absolute;
    top: 4px;
    left: 4px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--primary-opacity, #ff6347);
    transition: all 0.2s ease-in;
  }

  &:hover::before {
    border-color: var(--base-primary, #ff6347);
  }

  &:hover::after {
    display: block;
  }

  &:focus {
    outline: none;
  }
}

.radio__input:focus + .radio__label::before {
  border-color: var(--base-primary, #ff6347);
}

.radio__input:focus + .radio__label::after {
  display: block;
}

.radio__input:checked + .radio__label::before {
  border-color: var(--base-primary, #ff6347);
}

.radio__input:checked + .radio__label::after {
  background-color: var(--base-primary, #ff6347);
  display: block;
}

.radio__input[disabled] + .radio__label {
  color: var(--base-grey, #ff6347);
  cursor: not-allowed;

  &::before {
    border-color: currentColor;
  }

  &::after {
    background-color: currentColor;
  }

  &:hover::after {
    display: none;
  }
}

.radio__input[disabled].radio__input:checked + .radio__label {
  &::after {
    display: block;
  }
}
