.social {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  list-style: none;
}

.social__item:not(:first-child) {
  margin-left: 20px;
}

.social__link {
  display: block;
  width: 40px;
  height: 40px;
  padding: 10px;
  color: var(--base-grey, #ff6347);
  border-radius: 4px;
  transition: color 0.2s ease-in, background-color 0.2s ease-in;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: currentColor;
  }

  &--vk::before {
    mask-image: url("../../icons/stack.svg#icon-vk");
  }

  &--pinterest::before {
    mask-image: url("../../icons/stack.svg#icon-pinterest");
  }

  &--ok::before {
    mask-image: url("../../icons/stack.svg#icon-ok");
  }

  &:hover,
  &:focus {
    color: var(--base-primary, #ff6347);
    background-color: var(--base-secondary, #ff6347);
  }

  &:focus {
    outline: none;
  }

  &:active {
    color: var(--base-primary, #ff6347);
    background-color: var(--primary-opacity, #ff6347);
  }
}
